
footer{
    background-color: #212529;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom:0;
    width:100%;
}
.icon-red{
	color: red;
}
.icon-yellow{
	color: yellow;
}
h1,h3,h4,a{
	font-family: 'Quicksand', sans-serif;
}
fieldset{
	border: 1px solid #dee2e6!important;
}
footer address:last-child{
    margin-bottom: 0;
}
header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

@media(min-width: 768px) {
    #accordion {
        margin-top: 0px;
    }
}
@media(min-width: 992px) {
    .topCasaFina-banner {
        left: 0;
        transform: translate(0,-80%);
        width: 50%;
    }
    .topCasaFina-bannerWrapper {
        position: relative;
        height: 100%;

    }
}
.dataAdireita {
    text-align: right;    
}
.adireita {
    margin-right: 30%;
}


html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}
#contentDetalheEmpenhoNaoEntregue {

    background-image: linear-gradient(to right, #6abf57 55%, white 65%);
    border-radius: 5px;;
    width:0%;
    height:30px;

    padding:3px;

  }
  #contentDetalheEmpenhoEntregue {

    background-image: linear-gradient(to right, #6abf57 75%, white 85%);
    border-radius: 5px;;
    width:0%;
    height:30px;

    padding:3px;

  }
  #contentDetalheEmpenhoConcluido {

    background-image: linear-gradient(to right, #6abf57 75%, white 170%);
    border-radius: 5px;;
    width:0%;
    height:30px;

    padding:3px;

  }
  .box{
  	font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 178px;
    min-height: 128px;
    padding: 33px 15px 0;
    background: #EEE;
    margin: 2px -3px -1px 0;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: inherit;
    color: #555555;
  }
    .box2{
  	font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    min-height: 145px;
    padding: 33px 15px 0;
    background: #EEE;
    margin: 3px 1px -2px 0;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: inherit;
    color: #555555;
  }
  .box:hover {
  	transform: scale(1.1, 1.1);
	background: linear-gradient(to right, #6abf57 95%, white 170%);
	opacity: 0.8;
	color: black;
	box-shadow: 2px 2px 20px rgba(0,0,0,.5);
}
  .box2:hover {
  	transform: scale(1.1, 1.1);
	background: linear-gradient(to right, #6abf57 95%, white 170%);
	opacity: 0.8;
	color: black;
	box-shadow: 2px 2px 20px rgba(0,0,0,.5);
}
