<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<!-- MODAL MENSAGEM COBRANÇA -->
<div id="modalPA" class="modal">
  <div class="modal-content">
    <h4>ATENÇÃO</h4>
    <p>Deseja realmente solicitar o processo administrativo contra a empresa <span th:text="${empenho.empresa.nome}"/> por conta do empenho <span th:text="${empenho.numeroEmpenho}"/> ?</p>
	<form  method="post" id="modalMensagemPA">
  		<div class="input-field col">
			<input type="hidden" name="idEmpenho" th:value="${empenho.idEmpenho}">
  			<i class="material-icons prefix">mode_edit</i>
			<textarea id="textarea2" class="materialize-textarea" name="msgPedidoPA" required></textarea>
			<label for="textarea2">Se sim, justifique o motivo</label>
		</div>
  </div>
  <div class="modal-footer">
  	
	    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
	    <button class="modal-close btn waves-effect waves-light red" name="action">Confirmar
	    	<i class="material-icons right">report_problem</i>
		</button>
	</form>
  </div>
</div>
</body>